</main>
    <hr>
    <footer class="rss" style="text-align: center;">
      <a href="index.html">Home</a> ·
      <a href="https://github.com/Software-Solaris" target="_blank" rel="noopener">GitHub</a> ·
      <a href="https://uvigoaerotech.com/" target="_blank" rel="noopener">Web</a> ·
      <a href="https://www.instagram.com/uvigoaerotech/?hl=es" target="_blank" rel="noopener">Instagram</a> ·
      <a href="https://www.linkedin.com/company/uvigo-aerotech/" target="_blank" rel="noopener">LinkedIn</a> ·
      <a href="https://www.tiktok.com/@uvigo_aerotech" target="_blank" rel="noopener">TikTok</a> ·
      <a href="mailto:contacto@uvigoaerotech.com">Email</a>
      <hr>
    </footer>
  </body>
</html>