<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SOFTWARE SOLARIS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="assets/favicon.ico">
  </head>
  <body>
    <div class="navbar">
      <a href="index.html" class="active">Home</a>
      <a href="https://github.com/Software-Solaris">GitHub</a>
      <!-- <a href="architecture.html">Architecture</a> -->

    </div>
    <main>