name: ESP-IDF Build
on: [push]

jobs:
  build-solaris-code:
    runs-on: self-hosted

    container:
      image: espressif/idf:v6.0-dev
      options: >-
        --security-opt label=disable

    steps:
      - name: Fix permissions for GitHub workspace
        run: |
          chmod -R 777 "$GITHUB_WORKSPACE" || true
          chmod -R 777 /__w || true

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
          persist-credentials: false
          token: ${{ secrets.CI_GH_TOKEN }}

      - name: Sync and update submodules to pinned commits
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive --checkout

      - name: Mark workspace as safe for Git
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Ensure git & ssh client
        run: |
          apt-get update
          apt-get install -y git openssh-client
          rm -rf /var/lib/apt/lists/*

      - name: Build firmware
        run: |
          cd solaris-v0.2
          . /opt/esp/idf/export.sh
          idf.py build
