name: ESP-IDF Build
on: [push]

jobs:
  build-solaris-code:
    runs-on: self-hosted

    container:
      image: espressif/idf:v6.0-dev
      options: >-
        --security-opt label=disable

    steps:
      - name: Fix permissions for GitHub workspace
        run: |
          chmod -R 777 "$GITHUB_WORKSPACE" || true
          chmod -R 777 /__w || true

      - name: Checkout repo (no submodules)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: false
          persist-credentials: false
          token: ${{ secrets.CI_GH_TOKEN }}

      - name: Clean cached nested modules
        run: |
          rm -rf .git/modules/* || true

      - name: Init submodules (only first level)
        run: |
          git submodule sync
          git submodule update --init solaris-v1/external/esp-idf
          git submodule update --init solaris-v1/external/spp
          git submodule update --init solaris-v1/external/spp-ports

      - name: Mark workspace as safe for Git
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Ensure git & ssh client
        run: |
          apt-get update
          apt-get install -y git openssh-client
          rm -rf /var/lib/apt/lists/*

      - name: Build firmware
        run: |
          cd solaris-v0.2
          . /opt/esp/idf/export.sh
          idf.py build
